@import './reset';

$column-bg: rgb(38, 14, 83);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(62, 62, 62);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(39, 30, 39);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(39, 30, 39);
  }
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(22, 18, 30);
}

main {
  min-height: 100vh;
  width: 100%;
  padding: 0 48px;
}

.kanban-board {
  padding: 10vh 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .columns {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;

    > button {
      min-width: 196px;
      padding: 14px 20px;
      border-radius: 6px;
      background-color: $column-bg;
      color: #fff;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 8px;
      border: 1px solid lighten($column-bg, 10%);

      &:hover {
        background-color: lighten($column-bg, 5%);
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.column {
  border-radius: 8px;
  overflow: hidden;
  min-height: 50vh;
  width: 100%;
  flex: 0 0 350px;
  background-color: $column-bg;
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: grab;
  user-select: none;

  &.is-grabbing {
    cursor: grabbing;
    border: 2px solid lighten($column-bg, 10%);
    background-color: transparentize($column-bg, 0.7);
  }

  .header {
    border: 8px solid $column-bg;
    border-radius: 14px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    background-color: darken($column-bg, 5%);
    padding: 2px 16px;

    input {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      flex: 1 1 auto;
      min-width: 0;
      outline: none;
      line-height: 1.5;
      padding: 12px 0;
    }

    button {
      color: #fff;
      padding: 0;
      font-size: 16px;

      svg {
        width: 22px;
        height: 22px;

        &:hover {
          stroke: rgb(244, 148, 255);
        }
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;

    .tasks {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    > button {
      margin-top: 8px;
      min-width: 196px;
      padding: 14px 20px;
      border-radius: 6px;
      background-color: $column-bg;
      color: #fff;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 8px;
      border: 1px solid lighten($column-bg, 10%);

      &:hover {
        background-color: lighten($column-bg, 5%);
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.task {
  position: relative;
  background-color: lighten($column-bg, 10%);
  border-radius: 6px;
  display: flex;
  padding: 16px;
  min-height: 60px;
  color: #fff;

  &.is-grabbing {
    cursor: grabbing;
    border: 2px solid lighten($column-bg, 10%);
    background-color: transparentize($column-bg, 0.7);
  }

  &:hover {
    > button {
      opacity: 1;
    }
  }

  .title {
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.25;
  }

  > button {
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: lighten($column-bg, 20%);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: opacity 0.075s cubic-bezier(0.4, 0, 0, 1);

    &:hover {
      background-color: lighten($column-bg, 30%);
    }

    svg {
      color: #fff;
      width: 16px;
      height: 16px;
    }
  }
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .inside {
    position: relative;
    z-index: 1;
    background-color: lighten($column-bg, 5%);
    border-radius: 16px;
    width: 100%;
    max-width: 800px;
    max-height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;

    header {
      min-height: 60px;
      padding: 24px 28px;
      border-bottom: 1px solid lighten($column-bg, 15%);
      display: flex;
      align-items: center;
      column-gap: 10px;

      .status {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 9999px;
        cursor: pointer;
      }

      > input {
        font-weight: bold;
        font-size: 24px;
        background: transparent;
        border: none;
        outline: none;
        min-width: auto;
        max-width: 100%;
        width: 100%;
        color: #fff;
      }
    }

    .content {
      padding: 24px 28px;
      min-height: 360px;
      max-width: 80%;

      textarea {
        background-color: transparent;
        width: 100%;
        height: 350px;
        line-height: 1.35;
        font-size: 18px;
        border: none;
        resize: none;
        outline: none;
        color: #fff;
        font-family: 'Work Sans', sans-serif;
      }
    }
  }
}
